html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 200px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    border: 3px solid black;
    padding: 20px;
}

p:hover {
    background: orange;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}